<li>
	{{dataValues.burger_name}}

	<button class="change-devoured btn btn-secondary btn-sm" data-id="{{dataValues.id}}" data-newdevoured="{{dataValues.devoured}}">
		{{#if dataValues.devoured}}REMAKE BURGER!{{else}}DEVOUR BURGER!{{/if}}
	</button>

</li>
