<li>
	{{burger_name}}

	<button class="change-devoured btn btn-secondary btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}REMAKE BURGER!{{else}}DEVOUR BURGER!{{/if}}
	</button>

</li>
